.card {
    border: none;
    border-radius: 10px;
    height: 96%;
    color: black !important
}

.c-details span {
    font-weight: 300;
    font-size: 13px
}

.icon {
    width: 50px;
    height: 50px;
    background-color: #eee;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 39px
}

.badge span {
    background-color: #ecfff2;
    width: 60px;
    height: 25px;
    padding-bottom: 3px;
    border-radius: 5px;
    display: flex;
    color: #f1350f;
    justify-content: center;
    align-items: center
}

.progress {
    height: 10px;
    border-radius: 10px
}

.progress div {
    background-color: red
}

.text1 {
    font-size: 14px;
    font-weight: 600
}

.spritle-logo1 {
    width: 16%;

    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 4%;

}


.option1 {
    width: 287px !important;
    margin-left: 8%;
}

.option2 {
    margin-left: 8%;
    margin-top: 5%;
}

.add-options {
    margin-top: 5%;
    margin-left: -4%;
}

.option-one {
    /* margin-left: 7%; */
    margin-bottom: 6%;
}
.option-two {
    /* margin-left: 7%; */
    margin-bottom: 2%;
}

.new-option {
    width: 220%;
    margin-left: -10%;
}

.remove {
    margin-left: 104%;
}

.card3 {
    background-color: whitesmoke;
}

.card3.card3:hover {
    background-color: lavender;
}

.poll-create1 {
    line-height: 2;
    margin-left: 6%;
    margin-top: 8%;
}

.logout3 {
    margin-left: 86%;
    margin-top: 4%;
}

.logout5 {
    margin-left: 15%;
    margin-top: 8%;
}

.date {
    margin-bottom: 6%;
    margin-top: 2%;
}

.buttons {
    /* margin-top: 2%; */
    margin-left: -5%;
}

.logout-card {
    margin-left: 12%;
    /* margin-top: 6%; */


}

.user {
    margin-left: 7%;
}

.ok {
    margin-right: 44%;
}

.Email {
    width: 10%;
}

.Key {
    width: 13%;
}

.profile-img {
    margin-left: 6%;
    border: aliceblue;
    border-radius: 79px;
    width: 10%;

}

.createbtn {
    margin-left: 42%;
}

.cards1 {
    display: flex;
    color: #f1350f;
    justify-content: center;
    align-items: center
}

.toast-top-center {
    top: 50px;
    right: 0;
    width: 100%;
}

.toast-success {
    background-color: #007bff;
    color: #fff;
}

.view_results {
    margin-left: 9%
}

.sidebar {
    background-color: lightblue !important;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 2%;
}

.card-logout {
    width: 30%;
    margin-left: 7%;
}
.text-area1:hover {
    cursor: pointer;
}
.toastr{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    margin-top: 2%;
}
