.result {
    margin-left: 91%;
    margin-top: 5%;
}

.logout {
    margin-top: 6%;
    margin-left: 70%;
}

.val1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5%;
}

.val2 {
    margin-left: 39%;
}

.thumb {
    width: 10%;
}

.winner {
    margin-top: 2%;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.reslog {
    margin-left: 5%;
}

.result1 {
    margin-top: 4%;
    width: 16%;
}

.show {
    display: flex;
}

.back {
    margin-left: 64%;
    width: 13%;
    margin-top: 4%;
}

.resultimg {
    margin-top: 20%;
}

.announce {
    margin-top: 3%;
    margin-left: 11%;
    width: 71%;
}

.resultlogout {
    /* margin-left: 8%; */
    margin-left: 4%;
    margin-top: 4%;
}

.spritle-result {
    width: 20%;
    padding-left: 2%;
    padding-top: 4%;

}

.ryt {
    background-color:rgb(202, 232, 251);
}

.thumbsup-img {
    width: 20%;
    padding-top: 17%;
    margin-right: 1%;
}

.result-content {
    margin-left: 32%;
}

.final {
    margin-left: 36%;
}

.backtovote {
    margin-bottom: 50%;
    margin-left: 3%;
}

.everyone {
    margin-bottom: 44%;
}

.Thank-you {
    margin-right: 56%;
}

.vals {
    margin-bottom: 33%;
}

.res1 {
    padding-left: 7%;
}

.back2 {
    margin-top: 41%;
    width: 23%;
}
.announce-result {
    margin-left: 27%;
}
.empty {
    margin-bottom:59%;
}
.thank1 {
    padding-left: 7%;
    width: 100%;
}
.date2 {
    padding-left: 8%;
    padding-bottom: 11%;
}
.alignment {
    margin-bottom: 59%;
  }
.before-result {
    height: 100vh;

}
.result-page {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.expiring-on {
    text-align: center;
}
.the-winner {
    text-align: center;
}
