.jumbotron {
	background-color: burlywood
}

.main-content {
	width: 50%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, .4);
	margin: 5em auto;
	display: flex;
}

.company__info {
	background-color: hsl(207, 94%, 20%);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}

.fa-android {
	font-size: 3em;
}

@media screen and (max-width: 640px) {
	.main-content {
		width: 90%;
	}

	.company__info {
		display: none;
	}

	.login_form {
		border-top-left-radius: 20px;
		border-bottom-left-radius: 20px;
	}
}

@media screen and (min-width: 642px) and (max-width:800px) {
	.main-content {
		width: 70%;
	}
}

.row>h2 {
	color: #008080;
}

.login_form {
	background-color: #fff;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;

}

form {
	padding: 0 2em;
}

.form__input {
	width: 100%;
	border: 0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline: none;
	margin: 1.5em auto;
	transition: all .5s ease;
}

.form__input:focus {
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0, 80, 80, .4);
	border-radius: 4px;
}
.card {
	height: 90% !important;
}

/* .btn {
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	font-weight: 600;
	margin-top: 1.5em;
	margin-bottom: 1em;
	margin-left: 15%;
} */

.form-check {
	text-align: left;
    border: 1px solid black;
    margin-top: 5%;
    border-radius: 6px;
    line-height: 1.8;
}

.option-btn {
	margin-left: 0%;
	width: 100%;
	background-attachment: white !important;
	padding-top: 0px;
	padding: 0%;
	margin-top: 0%;
	padding-right: 88%;

}

.ques-card {
	width: 32%;
	margin-left: 32%;
	background-color: lavender;
	border-radius: 33px;
}

.submit {
	border: 2Px !important;
	border-radius: 8px !important;
	width: 27% !important;
	margin-top: 8%;
	margin-left: 70%;
}

.radio{
	border-radius: 50%;
    margin-top: 7px;
    margin-left: -19px;	
}
.form-check .form-check-input {
	float: left;
    margin-left: -11px !important;
    margin-right: 6px;
}