
.scroll {
    overflow-y: scroll;
    max-height: 400px;
  }
 .result {
    width: 39%;
    margin-left: 28%
 }
 .select {
    margin-left: 32%;
 }
 .expiry-logout {
    margin-left: 42%;
 }
 .select1 {
    margin-left: 38%;
 }